{% extends "base.html"%}
{% block base %}

<div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">

            <p class="text-center">
              OnlyFlans es una empresa enfocada en el mundo de la
pastelería y los postres, en especial en la venta de flan (de ahí
su nombre), nace en 2021 en Santiago de Chile como una
empresa familiar que pretende entregar productos de calidad
a su clientela, estando ubicada en Providencia, a pasos del
metro Parque Bustamante.
            </p>

      </div>
    </div>
  </div>
    
{% endblock %}