body {
    font-family: 'Cabin', sans-serif;;
}

.lobster-font {
    font-family: 'Lobster', sans-serif;
}

h1 h2 h3 h4 h5 {
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
}

.carousel .carousel-indicators button {
    width: 10px;
   height: 10px;
   border-radius: 100%;
 }

 .carousel {
    padding-bottom: 60px;

 }

#panel-suscripcion {
    background-color: #dc3545;
    color: white;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 15%;
}

#panel-suscripcion button {
    margin-top: 3%;
}

footer {
    background-color: #373A3C;
    color: white;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 3%;
}

.navbar-dani {
    margin-bottom: 5% !important;
}